<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<body>
<!--header B -->
<header class="wid1200">
	<div class="logo fl"><img src="images/pic_03.jpg" width="420" height="85"></div>
    <div class="search fr">
      <p class="tel">咨询热线：<span>400-1234-567</span></p>
      <div class="clearfix"><input type="text" class="tex fl"><input type="button" value="搜索"  class="btn fl"></div>
      <p class="font12">热门搜索：叠图机、晒图机、辅助产品</p>    
    </div>
</header>
<!--header E -->	
<!--nav B -->
<div class="wrap">
	<ul id="nav" class="wid1200">
		<li><a href="#">首页</a></li>
		<li><a href="#">关于我们</a>
			<ul>
				<li><a href="#">公司简介</a></li>
				<li><a href="#">企业文化</a></li>
				<li><a href="#">荣誉资质</a></li>
			</ul>
		</li>
		<li><a href="#">产品中心</a>
			<ul>
				<li><a href="#">产品中心1</a></li>
				<li><a href="#">产品中心2</a></li>
				<li><a href="#">产品中心3</a></li>
			</ul>			
		</li>
		<li><a href="#">新品发布</a></li>
		<li><a href="#">技术支持</a>
			<ul>
				<li><a href="#">售前</a></li>
				<li><a href="#">售后</a></li>
			</ul>
		</li>
		<li><a href="#">公司新闻</a>
			<ul>
				<li><a href="#">最新动态</a></li>
				<li><a href="#">公司动态</a></li>
			</ul>
		</li>
        <li><a href="#">联系我们</a>
			<ul>
				<li><a href="#">联系我们</a></li>
				<li><a href="#">在线留言</a></li>
			</ul>
		</li>
	</ul>
</div>
<script type="text/javascript">
$(document).ready(function() {	
	$('#nav li').hover(function() {
		$('ul', this).slideDown(200);
		$(this).children('a:first').addClass("hov");
	}, function() {
		$('ul', this).slideUp(100);
		$(this).children('a:first').removeClass("hov");		
	});
	
	 $(".in_pro_con li:nth-child(2n)").css("margin-left","22px");  
});
</script>
<!--nav E -->
<!--banner B -->
<div class="flexslider">
    <ul class="slides">
      <li style="background:url(images/pic_06.jpg) 50% 0 no-repeat;"></li>
      <li style="background:url(images/pic_06.jpg) 50% 0 no-repeat;"></li> 
    </ul>
  </div>
  <script>
$(function(){
	$('.flexslider').flexslider({
		directionNav: true,
		pauseOnAction: false
	});
});
</script> 
<!--banner E -->

<!--main B -->
<div class="main wid1200">
<div class="left">
<div class="plist_bt">联系我们<p>CONTACT</p></div>
<ul class="plist_bl">
<li><a href="#">联系我们</a></li>
<li><a href="#">在线留言</a></li>
</ul>
</div>
<div class="right">
<div class="pub_tit"><P>联系我们<br /><span>CONTACT</span></P></div>
<div class="dycon clearfix">
	<div class="contact_map fl"><img src="images/map_03.jpg" width="518" height="348"></div>
    <div class="contact_info fr">工厂地址：天津市天津市天津市天津市天津市<br>
            联系电话：022-12345678、022-12345678<br>
            FAX 传真：022-12345678<br>
            联络邮箱：123456789@qq.com</div>
</div>

</div>
<div class="clear"></div>


</div>

<!--main E -->
<!--footer B -->
<footer class="clearfix">
	<div class="f_main wid1200">
    	<div class="f_l fl">
        	<dl><dt>关于我们</dt><dd><a href="#">公司简介</a></dd><dd><a href="#">公司简介</a></dd><dd><a href="#">公司简介</a></dd></dl>
            <dl><dt>产品中心</dt><dd><a href="#">公司简介</a></dd><dd><a href="#">公司简介</a></dd><dd><a href="#">公司简介</a></dd></dl>
            <dl><dt>技术支持</dt><dd><a href="#">公司简介</a></dd><dd><a href="#">公司简介</a></dd><dd><a href="#">公司简介</a></dd></dl>
            <dl><dt>联系我们</dt><dd><a href="#">公司简介</a></dd><dd><a href="#">公司简介</a></dd><dd><a href="#">公司简介</a></dd></dl>
        </div>
        <div class="f_c fl">
        	工厂地址：天津市天津市天津市天津市天津市<br>
            联系电话：022-12345678、022-12345678<br>
            FAX 传真：022-12345678<br>
            联络邮箱：123456789@qq.com
        </div>
        <div class="f_r fl"><img src="images/wx_03.png" width="158" height="158"></div>
        <div class="clear"></div>
        <p class="link">友情链接 <a href="#">百度</a> <a href="#">百度</a> <a href="#">百度</a> <a href="#">百度</a> <a href="#">百度</a></p>
        <p>版权所有  天津市天翱科技有限公司  津ICP20115404 技术支持：<a href="#">匠人匠心</a></p>
    </div>
</footer>
<!--footer E -->
</body>
</html>