<extend name="./template/base.html" />
<block name="body">
    <div class="main wid1200">
        <div class="left">
            <include file="./template/left.html" />
        </div>
        <div class="right">
            <div class="pub_tit">
                <P>{$info.name}
                    <br /><span>{$info.short_name}</span></P>
            </div>
            <notempty name="article">
                <ul class="newslist">
                    <volist name="article" id="vo">
                        <li><span>{$vo.update_time|date="Y.m.d",###}</span><a href="/view/{$vo.id}">{$vo.title}</a></li>
                    </volist>
                </ul>
                <div class="fanyi">{$article->render()}</div>
            </notempty>
        </div>
        <div class="clear"></div>
    </div>
</block>