<extend name="./template/base.html" />
<block name="body">
    <div class="main wid1200">
        <div class="left">
           <include file="left" />
        </div>
        <div class="right">
            <div class="">
                <P>搜索 {:input('q')} 的结果</P>
            </div>
            <notempty name="article">
                <ul class="prolist clearfix">
                    <volist name="article" id="vo">
                        <li><a href="/view/{$vo.id}"><img src="{$vo.cover}" width="220" height="180"><p>{$vo.title}</p></a></li>
                    </volist>
                </ul>
                <div class="fanyi">{$article->render()}</div>
            </notempty>
        </div>
        <div class="clear"></div>
    </div>
</block>