<extend name="./template/base.html" />
<block name="body">
    <div class="main wid1200">
        <div class="left">
            <div class="plist_bt">{$parent.name}
                <p>{$parent.short_name}</p>
            </div>
            <ul class="plist_bl">
                <notempty name="category_list">
                    <volist name="category_list" id="vo">
                        <li><a href="/list/{$vo.id}">{$vo.name}</a></li>
                    </volist>
                </notempty>
            </ul>
        </div>
        <div class="right">
            <div class="pub_tit">
                <P>{$info.name}
                    <br /><span>{$info.short_name}</span></P>
            </div>
            <div class="dycon">
                <div class="dy_tit">{$article.title}
                    <br />
                    <p>[{$article.update_time|date='Y.m.d',###}]</p>
                </div>
                <notempty name="article.cover">
                    <div class="big_pic"><img src="{$article.cover}" style="max-width: 90%" /></div>
                </notempty>
                <div>
                    {$article.content}
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</block>