<extend name="public/base" />
<block name="body">
    <div class="table-responsive">
        <table class="table table-bordered table-condensed table-striped  text-center">
            <thead>
                <tr>
                    <th style="width: 48px">#</th>
                    <th style="width: 120px">
                        姓名
                    </th>
                    <th style="width: 110px">
                        手机号
                    </th>
                    <th>
                        留言内容
                    </th>
                    <th style="width: 80px">操作</th>
                </tr>
            </thead>
            <tbody>
                <volist name="list" id="vo">
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.name}</td>
                        <td>{$vo.mobile}</td>
                        <td>{$vo.content}</td>
                        <td>
                            <a href="{:url('delete',['id'=>$vo['id']])}" title="删除" confirm="1" class="btn btn-xs btn-danger ajax-get" target="1"><i class="fa fa-trash"></i> 删除</a>
                        </td>
                    </tr>
                </volist>
            </tbody>
        </table>
        <div class="pull-right">
            {$list->render()}
        </div>
    </div>
</block>