<extend name="public/base"/>
<block name="body">
    <div class="navbar navbar-default">
        <form class="navbar-form form-inline" method="post">
            <div class="form-group">
                <a href="{:url('add')}" class="btn btn-info btn-sm ajax-form" title="添加用户组"><i class="fa fa-plus"></i>
                    添加</a>
            </div>
        </form>
    </div>
    <div data-url="{:url('lists')}" class="ajax-list table-responsive">
        <p><i class="fa fa-spinner fa-spin"></i> 加载中...</p>
    </div>
</block>
