<div class="box-body" style="min-width: 640px">
    <form class="layui-form" action="{:url()}" method="post" id="goods-form">
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block">
                <input type="text" name="title" value="{$info.title|default=''}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-inline">
                <select name="type" class="form-control input-sm">
                    <volist name="type" id="vo">
                        <option value="{$key}" <php>if(isset($info)&&$info['type']==$key):echo 'selected="selected"';endif;</php> >{$vo}</option>
                    </volist>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">链接</label>
            <div class="layui-input-block">
                <input type="text" name="url" value="{$info.url|default=''}" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">请填写完整url地址</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">封面图</label>
            <div class="layui-input-block">
                {:action('FileController/webUpload',['field'=>'picture','type'=>'image','value'=>(isset($info['picture'])?$info['picture']:'')])}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-inline">
                <input type="number" name="sort" value="{$info.sort|default='0'}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <input type="text" name="remark" value="{$info.remark|default=''}" class="layui-input">
            </div>
        </div>
        <input type="hidden" name="id" value="{$info.id|default=''}">
    </form>
</div>